<section class="grid-x">
    <div class="cell">
        <h1>La Clinique</h1>
        <p>
            Implantée à Jarcieu depuis 2010, Cat Clinic est forte de plusieurs années d'expérience dans le soin des félins.
            Nos médecins font partie des meilleurs spécialistes dans leur domaine, et nous sommes fiers d'être la meilleure clinique pour les félins dans la région Auvergne-Rhône-Alpes.
        </p>
    </div>

    <div class="cell">
        <h2>Spécialités de la clinique</h2>
        <p>Notre clinique est spécialisée dans le soin des felins et plus précisément les prestations suivantes:</p>
        <ul>
            <li>Radiographie</li>
            <li>Echographie (abdominale et échocardiographie)</li>
            <li>Analyses sanguines (biochimie et hématologie)</li>
            <li>Laboratoire et cytologie</li>
            <li>Dentisterie</li>
            <li>Chirurgie</li>
            <li>Hospitalisation</li>
            <li>Service de garde 24h/24h - 7j7</li>
        </ul>
    </div>

    <div class="cell">
        <h1>Notre équipe</h1>
        <h2>Les médecins vétérinaires</h2>
    </div>

    <div class="medium-6 cell">
        <h3>Dr Sylvie Burlotte</h3>
        <img src="../img/personnel/sylvieburlotte.jpg" alt="Sylvie Burlotte" />
        <h4>Docteur en médécine vétérinaire (DMV)</h4>
        <ul>
            <li>
                Diplômé de l'Ecole Nationale Vétérinaire de Toulouse (ENVT) - 2002.
            </li>
            <li>
                CES Traumatologie ostéo-articulaire et orthopédie animales (ENV Toulouse) - 2002.
            </li>
            <li>
                Membre de <a href="https://www.269life-france.org/" target="_blank">269 Life</a>, organisme pour la défense des animaux.
            </li>
        </ul>
    </div>

    <div class="medium-6 cell">
        <h3>Dr André Remain</h3>
        <img src="../img/personnel/andreremain.jpg" alt="André Remain" />
        <h4>Docteur en médécine vétérinaire (DMV)</h4>
        <ul>
          <li>
            Diplômé de l'Ecole Nationale Vétérinaire de Lyon (VetAgro Sup) - 1998.
          </li>
          <li>
            CES Traumatologie ostéo-articulaire et orthopédie animales (ENV Toulouse) - 2000.
          </li>
          <li>
            Spécialiste en chirurgie feline.
          </li>
        </ul>
    </div>

    <div class="cell">
        <h2>Assistanat vétérinaire</h2>
    </div>

    <div class="medium-6 cell">
        <h3>Jérôme Abeauvaux</h3></h2>
          <img src="../img/personnel/jeromeabeauvaux.jpg" alt="Jérôme Abeauvaux" />
        <h4>Assistant vétérinaire</h4>
        <ul>
          <li>
            Diplômé de l'Ecole Nationale Vétérinaire, Agroalimentaire et de l'Alimentation Nantes Atlantique (ONIRIS) - 2010.
          </li>
          <li>
            CES Traumatologie ostéo-articulaire et orthopédie animales (ENV Toulouse).
          </li>
        </ul>
    </div>

</section>