  <div class="medium-6 cell">
    <h1>CAT CLINIC</h1>
    <p>Clinique vétérinaire spécialisée dans l'accueil et le soin des félins.</p>
  </div>

  <div class="medium-6 cell">
    <h1>Contact</h1>
    <p>N° tel: 04 21 23 06 66<br>
    <a href="../Php/index.php?EX=contact">Formulaire de contact</a>
    </p>
    <p>URGENCES 24/7<br>
    N° d'urgences: 04 21 23 06 66</p>
  </div>

<!--  <div class="medium-4 cell">
    <img src="../img/bada.png" />
  </div>-->



