    <div class="cell">
        <h1>Informations pratiques</h1>
    </div>

    <div class="medium-6 large-4 cell">
        <h2>Horaires</h2>
           <ol>
            <li>
              Lundi - vendredi: 08h30 - 19h30
            </li>
            <li>
              Samedi: 08h30 - 18h00
            </li>
            <li>
              Dimanche: 10h00 - 12h00
            </li>
          </ol>
        <p>
        Une permanence d'urgence est assurée 24h/24h, 7j/7j, sur appel téléphonique (04 21 23 06 66).
        </p>
    </div>

    <div class="medium-6 large-4 cell">
        <h2>Situation géographique</h2>
        <p>
            Route des Chats Noirs<br />
            38270 JARCIEU (France)
        </p>
        <p>
            Tél. : 04 21 23 06 66
        </p>
        <p>
            @ : contact@catclinic.com
        </p>
    </div>

  <div class="large-4 cell">
    <h2>Plan d'accès</h2>
    <p>
      <a href="https://www.google.fr/maps/place/Route+des+Chats+Noirs,+38270+Jarcieu" target="_blank"><img src="../img/localisation.jpg" alt="Plan d'accès" /></a>
    </p>
  </div>
